/* components/card-header/display-header/display-header.css */

/* 整体容器，水平居中，内容自适应 */
.display-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 8px;
  overflow: hidden;
  font-size: 32px;
  /* 初始字号 */
}

/* 单词展示 */
.display-word {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.5px;
  /* 字母间距设置为 0.5px */
}